:root .container{
  --white-bg: #fff;
  --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  --box-shadow2: 0px 0px 10px rgba(0, 0, 0, 0.2);
  --nav-links-anchor-tag-color: rgb(216, 216, 216);
  --search-input-bg-color: #eeeef0;
  --input-color: #40424a;
  --action-links-anchor-tag-color: rgb(184, 184, 184);
  --dropdown-border-top-bg: #74A7D6;
  --details-div-hover-bg: #f7f7f7;
  --dropdonw-links-bg: #f7f7f7;
  --post-right-input-bg: #eeeef0;
}

.container {
  width: 100%;
}
/* header start */
.header {
  width: 100%;
  padding: 15px 30px; /* distributed space between the header both top and left */
  background: var(--white-bg);
  box-shadow: var(--box-shadow);
  display: flex; /* flex is to align them in a straight line */
  align-items: center; /* align them in a straight line */
  justify-content: space-between; /* space between them */
  border-radius: 0 0 5px 5px;
  position: fixed;
  z-index: 999;
}
.header .logo {
  margin-right: 10px;
}
.header .nav_links a {
  color: var(--nav-links-anchor-tag-color);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin-right: 20px;
}
.header .search {
  width: 100%;
}
.header .search input {
  width: 100%;
  height: 50px;
  border: 1px solid var(--white-bg);
  background: var(--search-input-bg-color);
  border-radius: 5px;
  padding: 0px 20px;
  font-size: 16px;
  color: var(--input-color);
  outline: none;
}
.header .action_links {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
}
.header .action_links a {
  color: var(--action-links-anchor-tag-color);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 0px;
  padding: 10px;
}
.header .user_info {
  display: flex;
  align-items: center;
}
.header .dropdown {
  position: absolute;
  display: none;
  top: 100px;
  right: 50px;
  width: 100%;
  max-width: 300px;
  background: var(--white-bg);
  box-shadow: var(--box-shadow);
  padding: 30px;
  border-radius: 5px;
  border-top: 3px solid var(--dropdown-border-top-bg);
}
.header .dropdown.active {
  display: block;
}
.header .dropdown .settings .details {
  display: flex;
  align-items: center;
  background: transparent;
  padding: 10px;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
}
.header .dropdown .settings .details:hover {
  background: var(--details-div-hover-bg);
}
.header .dropdown .settings .details span {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 5px;
}
.header .dropdown .settings .cjx {
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: transparent;
  margin-top: 20px;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.2s ease;
}
.header .dropdown .settings .cjx:hover {
  background: var(--dropdonw-links-bg);
  color: #3C78AF;
}
.header .dropdown .settings .cjx i {
  margin-right: 5px;
}
/* header ends */
.primeex_body {
  width: 100%;
  padding: 30px 60px;
}
.primeex_body .post_div {
  width: 100%;
  background: var(--white-bg);
  padding: 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  box-shadow: var(--box-shadow);
}
.primeex_body .post_div .pst_right {
  width: 100%;
}
.primeex_body .post_div .pst_right input {
  width: 100%;
  padding: 13px 30px;
  /* height: 40px; */
  border: 1px solid var(--white-bg);
  background: var(--post-right-input-bg);
  border-radius: 5px;
  /* padding: 0px 10px; */
  font-size: 16px;
  color: var(--input-color);
  outline: none;
}
.primeex_body .post_div .pst_upload .image_upload i {
  font-size: 1.5rem;
  color: #444;
  margin-left: 10px;
  cursor: pointer;
}
.primeex_body .post_div .pst_left {
  margin-right: 10px;
}
.primeex_body .post_board {
  width: 100%;
  background: var(--white-bg);
  padding: 30px;
  border-radius: 5px;
  margin-top: 30px;
  position: relative;
  box-shadow: var(--box-shadow2);
}
.primeex_body .post_board .post_board_content .pst_left {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px 0 0 5px;
  background: #3C78AF;
  padding: 20px;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.primeex_body .post_board .post_board_content .pst_left i {
  font-size: 2rem;
  color: #eeeef0;
  margin-left: 10px;
  cursor: pointer;
}
.primeex_body .post_board .post_board_content .pst_left .count {
  font-size: 1.5rem;
  color: #eeeef0;
  margin-left: 10px;
}
.primeex_body .post_board .post_board_content .pst_right {
  margin-left: 80px;
}
.primeex_body
  .post_board
  .post_board_content
  .pst_right
  .pst_right_top
  .usr_post {
  display: flex;
  align-items: center;
}
.primeex_body
  .post_board
  .post_board_content
  .pst_right
  .pst_right_top
  .usr_post
  .usr_post_name
  span {
  font-size: 1.2rem;
  margin-left: 5px;
}
.primeex_body
  .post_board
  .post_board_content
  .pst_right
  .pst_right_top
  .usr_post
  .usr_post_time
  span {
  color: #232323;
  margin-left: 5px;
}
.primeex_body .post_board .post_board_content .pst_right .pst_right_bottom {
  margin-top: 10px;
}
.primeex_body
  .post_board
  .post_board_content
  .pst_right
  .pst_right_bottom
  .pst_right_bottom_text
  span {
  font-size: 1.2rem;
}
.primeex_body
  .post_board
  .post_board_content
  .pst_right
  .pst_right_bottom
  .pst_right_bottom_icon {
  display: flex;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}
.primeex_body
  .post_board
  .post_board_content
  .pst_right
  .pst_right_bottom
  .pst_right_bottom_icon
  .comment_icon
  i,
.primeex_body
  .post_board
  .post_board_content
  .pst_right
  .pst_right_bottom
  .pst_right_bottom_icon
  .share_icon
  i,
.primeex_body
  .post_board
  .post_board_content
  .pst_right
  .pst_right_bottom
  .pst_right_bottom_icon
  .save_icon
  i,
.primeex_body
  .post_board
  .post_board_content
  .pst_right
  .pst_right_bottom
  .pst_right_bottom_icon
  .sponsor_icon
  i {
  font-size: 1.2rem;
  width: 100%;
  padding: 15px 30px;
  background: #3C78AF;
  margin-right: 10px;
  border-radius: 5px;
  color: #eeeef0;
  cursor: pointer;
  transition: 0.3s ease;
}
.primeex_body
  .post_board
  .post_board_content
  .pst_right
  .pst_right_bottom
  .pst_right_bottom_icon i:hover {
  background: #5A91C6;
  }
.primeex_body
  .post_board
  .post_board_content
  .pst_right
  .pst_right_bottom
  .pst_right_bottom_icon
  .comment_icon,
.primeex_body
  .post_board
  .post_board_content
  .pst_right
  .pst_right_bottom
  .pst_right_bottom_icon
  .share_icon,
.primeex_body
  .post_board
  .post_board_content
  .pst_right
  .pst_right_bottom
  .pst_right_bottom_icon
  .save_icon,
.primeex_body
  .post_board
  .post_board_content
  .pst_right
  .pst_right_bottom
  .pst_right_bottom_icon
  .sponsor_icon {
  margin-right: 10px;
  margin-top: 10px;
}
/* primex body ends - body jsx */

/* modal jsx */
.input_box {
  position: fixed;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 940px;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
.input_box .tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input_box .tabs .tab {
  padding: 15px 20px;
  background: transparent;
  width: 100%;
  margin-right: 10px;
  font-size: 1.3rem;
  border-right: 1px solid #cecece;
  cursor: pointer;
  user-select: none;
}
.input_box .tabs .tab i {
  margin-right: 5px;
}
.input_box .titleInput {
  margin-top: 20px;
  width: 100%;
}
.input_box .titleInput input {
  width: 100%;
  padding: 15px 30px;
  background: #f7f7f7;
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-radius: 5px;
}
.input_box .textInput .textEdit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input_box .textInput .textEdit .icon {
  margin-top: 20px;
}
.input_box .textInput .textEdit .icon i {
  width: 100px;
  padding: 15px 20px;
  background: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.3rem;
  /* border: 1px solid red; */
  transition: 0.3s ease-in-out;
}
.input_box .textInput .textEdit .icon i:hover {
  background: #ffffff;
  box-shadow: none;
}
.input_box .textInput textarea {
  width: 100%;
  height: 200px;
  max-height: 300px;
  min-height: 200px;
  padding: 15px 30px;
  background: #f7f7f7;
  border: none;
  outline: none;
  border-radius: 5px;
  resize: vertical;
  margin-top: 20px;
  font-size: 1.3rem;
}
.seprate {
  margin-top: 20px;
}
.seprate .seprate_line {
  width: 100%;
  height: 1px;
  background: #cfcfcf;
  margin-top: 20px;
}
.opButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}
.opButtons button {
  padding: 15px 30px;
  background: #5A91C6;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  transition: 0.3s ease;
}
.opButtons button:hover {
  background: #74A7D6;
}
.close i {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50px;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 50px;
  font-size: 1.3rem;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .primeex_body
    .post_board
    .post_board_content
    .pst_right
    .pst_right_bottom
    .pst_right_bottom_text
    span {
    font-size: 1rem;
  }
}


/* pollbox */

.poll_box {
  position: fixed;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 940px;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.poll_box .poll_box_top .titleInput {
  margin-top: 20px;
  width: 100%;
}
.poll_box .poll_box_top .titleInput input {
  width: 100%;
  padding: 15px 30px;
  background: #f7f7f7;
  border: none;
  outline: none;
  border-radius: 5px;
}
.poll_box .poll_box_bottom .poll_add_menu {
  margin-top: 20px;
}
.poll_box .poll_box_bottom .poll_add_menu .poll_input input {
  width: 100%;
  padding: 10px 30px;
  margin: 10px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #232323;
}
/*  */
.polls_context_menu {
  margin-top: 10px;
}
.polls_context_menu .poll_context {
  padding: 10px 20px;
  background: #74A7D6;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}
.polls_context_menu .poll_drag {
  width: 5%;
  height: 100%;
  background: rgb(190, 189, 189);
  opacity: 0.5;
  position: absolute;
  border-radius: inherit;
  top: 0;
  left: 0;
  pointer-events: none;
}
.polls_context_menu .poll_context .poll_numb_tab {
  font-size: 1.3rem;
  font-weight: 500;
  color: #232323;
  position: relative;
}
.polls_context_menu .poll_context .poll_menu_text {
  position: relative;
}